{
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "semi": false,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "printWidth": 100
}
