$black: #464545;
$grey: #727272;
$lightgrey: #8c8c8c;
$white: #fff;

$beige: #f8f6eb;
$black: #464545;
$green: #83a55a;
$light-green: #bdcd9d;
$turquoise: #7ab192;
$red: #a62639;
$burgundy: #a65e4b;

$transparent-green: rgba(#83a55a, 0.25);
$transparent-red: rgba(#f8b3a1, 0.2);

$mc: $green;
$sc: $burgundy;

$link: $green;
$tc: $grey;

$radius: 18px;
$radius-lg: 30px;
$radius-sm: 14px;
$radius-ex-sm: 12px;
$flex-gap: 12px;

$box-shadow: 0 6px 20px -1px rgba($black, 0.1);
$box-shadow-active: 0 7px 20px -1px rgba($black, 0.15);
$box-shadow-lighter: 0 6px 20px -1px rgba($black, 0.06);
$box-shadow-big-item: 0 0 60px 0px rgba($black, 0.08);

$font: 'Lato', sans-serif;
